/* cellphones */
@media only screen and ( max-width: 550px ) {
    /* main container */
    .calc_Container {
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        margin: auto;
        height: 99vh;
        border-radius: 16px;
        border: 1px solid rgba(46, 45, 45, 0.31);
    }
    /*  inputs dispaly container */
    .displayContainer {
        display: flex;
        flex-direction: column;
        flex: 2;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    }
    /* general input styling */
    .outPut {
        text-align: right;
        border: 1px solid rgba(46, 45, 45, 0.31);
        padding-right: 10px;
        
    }
    /* top input field */
    .calOutputField {
        border-radius: 16px 16px 0 0;
        font-size: 30px;
        font-weight: bolder;
        flex: 1.5;
        background: rgba(32, 32, 32, 0.164);

    }
    /* bottom display field */
    .displayField{
        border-radius: 0 0 0 0;
        font-weight: bold;
        flex: 1;
        background: rgba(46, 45, 45, 0.1);
    }

    /* button table container */
    .butt_Container {
        width: 100%;
        height: 100%;
        flex: 8;
    }
    /* table styling */
    .butt_Table {
        width: 100%;
        height: 100%;
        background: rgba(46, 45, 45, 0.1);
        border-radius: 0 0 16px 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.5px);
        -webkit-backdrop-filter: blur(2.5px);
    }
    .button_Box {
        border: 2px solid rgba(0, 0, 0, 0.02);
        width: 25%;
        height: 16%;
    }
}

/* large screens */
@media only screen and ( min-width: 1001px ) {
    /* main container */
    .calc_Container {
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        margin: auto;
        height: 35rem;
        width: 28rem;
        border-radius: 16px;
        border: 1px solid rgba(46, 45, 45, 0.31);
    }
    /*  inputs dispaly container */
    .displayContainer {
        display: flex;
        flex-direction: column;
        flex: 2;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    }
    /* general input styling */
    .outPut {
        text-align: right;
        border: 1px solid rgba(46, 45, 45, 0.31);
        padding-right: 10px;
        outline: none;
        
    }
    /* top input field */
    .calOutputField {
        border-radius: 16px 16px 0 0;
        font-size: 30px;
        font-weight: bolder;
        flex: 1.5;
        background: rgba(32, 32, 32, 0.164);

    }
    /* bottom display field */
    .displayField{
        border-radius: 0 0 0 0;
        font-weight: bold;
        flex: 1;
        background: rgba(46, 45, 45, 0.1);
    }

    /* button table container */
    .butt_Container {
        width: 100%;
        height: 100%;
        flex: 8;
    }
    /* table styling */
    .butt_Table {
        width: 100%;
        height: 100%;
        background: rgba(46, 45, 45, 0.1);
        border-radius: 0 0 16px 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.5px);
        -webkit-backdrop-filter: blur(2.5px);
    }
    .button_Box {
        border: 2px solid rgba(0, 0, 0, 0.02);
        width: 25%;
        height: 16%;
    }
    .button_Box:hover {
        -webkit-transition: 0.2s;
        transition: 0.1s;
        background: rgba(255, 255, 255, 0.247);
        border-radius: 16px;
    
    }
}

.messCopied { 
    width: 95%;
    height: 30px;
    position: absolute;
    margin: auto;
    color: red;
    font-weight: bolder;
    
}




/* input styling */
/* .outPut {
    width: 100%;
	padding: 2%;
	text-align: right;
    color: rgb(255, 255, 255);
    background: rgba(46, 45, 45, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

} */




/* table styling */
.butt_Table {
    /* width: 100%;
    height: 100%;
    background: rgba(46, 45, 45, 0.1);
    border-radius: 0 0 16px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px); */
    /* border: 1px solid rgba(46, 45, 45, 0.31); */
    /* border: 1px solid rgba(255, 255, 255, 0.02); */
	/* border-right: 1px solid rgba(255, 255, 255, 0.02); */

}

.button_Box {
    /* border: 2px solid rgba(0, 0, 0, 0.02);
    width: 25%; */
}
